USE [master]
GO
/****** Object:  Database [Emarket]    Script Date: 7/3/2026 5:08:57 PM ******/
CREATE DATABASE [Emarket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Emarket', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Emarket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Emarket_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Emarket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Emarket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Emarket]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 7/3/2026 5:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[orderId] [varchar](30) NOT NULL,
	[productID] [varchar](30) NOT NULL,
	[quantity] [int] NULL,
	[unitPrice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 7/3/2026 5:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[categoryID] [varchar](20) NOT NULL,
	[categoryName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 7/3/2026 5:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[orderId] [varchar](30) NOT NULL,
	[orderDate] [varchar](50) NULL,
	[totalAmount] [int] NULL,
	[shippingAddress] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[paymentMethod] [nvarchar](100) NULL,
	[customerPhone] [varchar](50) NULL,
	[staffId] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/3/2026 5:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[phone] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDiem]    Script Date: 7/3/2026 5:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDiem](
	[historyID] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](50) NULL,
	[date] [varchar](20) NULL,
	[orderId] [varchar](30) NULL,
	[points] [int] NULL,
	[type] [nvarchar](20) NULL,
	[reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[historyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/3/2026 5:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[staffId] [varchar](20) NOT NULL,
	[staffName] [nvarchar](255) NULL,
	[roleName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[staffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 7/3/2026 5:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[productID] [varchar](30) NOT NULL,
	[productName] [nvarchar](255) NOT NULL,
	[categoryID] [varchar](20) NULL,
	[brand] [nvarchar](100) NULL,
	[priceProduct] [int] NOT NULL,
	[originalPrice] [int] NOT NULL,
	[quantityProduct] [int] NULL,
	[capacity] [nvarchar](100) NULL,
	[energySaving] [nvarchar](50) NULL,
	[smartFeature] [nvarchar](50) NULL,
	[descriptionProduct] [nvarchar](max) NULL,
	[rating] [decimal](3, 1) NULL,
	[reviewsCount] [int] NULL,
	[soldCount] [int] NULL,
	[isFlashSale] [bit] NULL,
	[soldFlash] [int] NULL,
	[limitFlash] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheThanhVien]    Script Date: 7/3/2026 5:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheThanhVien](
	[cardID] [varchar](30) NOT NULL,
	[phone] [varchar](50) NULL,
	[point] [int] NULL,
	[rank] [nvarchar](50) NULL,
	[discountRate] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[cardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonHang] ([orderId], [productID], [quantity], [unitPrice]) VALUES (N'DH-394879', N'SP_DDB_01', 1, 550000)
INSERT [dbo].[ChiTietDonHang] ([orderId], [productID], [quantity], [unitPrice]) VALUES (N'DH-394879', N'SP_MG_01', 1, 8490000)
INSERT [dbo].[ChiTietDonHang] ([orderId], [productID], [quantity], [unitPrice]) VALUES (N'DH-394879', N'SP_MG_03', 1, 7290000)
GO
INSERT [dbo].[DanhMuc] ([categoryID], [categoryName]) VALUES (N'DM_DDB', N'Đồ dùng bếp')
INSERT [dbo].[DanhMuc] ([categoryID], [categoryName]) VALUES (N'DM_LVS', N'Lò vi sóng')
INSERT [dbo].[DanhMuc] ([categoryID], [categoryName]) VALUES (N'DM_MG', N'Máy giặt')
GO
INSERT [dbo].[DonHang] ([orderId], [orderDate], [totalAmount], [shippingAddress], [status], [paymentMethod], [customerPhone], [staffId]) VALUES (N'DH-394879', N'2026-06-29T03:12:15.864Z', 16110000, N'55 Giải Phóng, Đồng Tâm, Hà Nội | SĐT: 0327633995 | Người nhận: Nguyễn Văn A', N'Chờ xác nhận', N'Thanh toán khi nhận hàng (COD)', N'0327633995', N'NV001')
INSERT [dbo].[DonHang] ([orderId], [orderDate], [totalAmount], [shippingAddress], [status], [paymentMethod], [customerPhone], [staffId]) VALUES (N'DH-574652', N'2026-06-29T02:57:13.268Z', 14020000, N'55 Giải Phóng, Đồng Tâm, Hà Nội | SĐT: 0327633995 | Người nhận: Nguyễn Văn A', N'Đã hủy', N'Thanh toán khi nhận hàng (COD)', N'0327633995', N'NV001')
INSERT [dbo].[DonHang] ([orderId], [orderDate], [totalAmount], [shippingAddress], [status], [paymentMethod], [customerPhone], [staffId]) VALUES (N'DH-818397', N'2026-06-29T03:15:01.518Z', 15020000, N'55 Giải Phóng, Đồng Tâm, Hà Nội | SĐT: 0327633995 | Người nhận: Nguyễn Văn A', N'Đã hủy', N'Thanh toán khi nhận hàng (COD)', N'0327633995', N'NV001')
GO
INSERT [dbo].[KhachHang] ([phone], [name], [address]) VALUES (N'0327633995', N'Nguyễn Văn A', N'55 Giải Phóng, Đồng Tâm, Hà Nội')
GO
INSERT [dbo].[NhanVien] ([staffId], [staffName], [roleName]) VALUES (N'NV001', N'Quản trị viên', N'Admin')
GO
INSERT [dbo].[SanPham] ([productID], [productName], [categoryID], [brand], [priceProduct], [originalPrice], [quantityProduct], [capacity], [energySaving], [smartFeature], [descriptionProduct], [rating], [reviewsCount], [soldCount], [isFlashSale], [soldFlash], [limitFlash]) VALUES (N'SP_DDB_01', N'Bộ nồi inox 3 đáy Sunhouse', N'DM_DDB', N'Sunhouse', 550000, 750000, 99, N'3 món', N'4 sao', N'Không', N'Bộ nồi inox cao cấp, dùng được bếp từ.', CAST(4.7 AS Decimal(3, 1)), 150, 300, 0, 0, 0)
INSERT [dbo].[SanPham] ([productID], [productName], [categoryID], [brand], [priceProduct], [originalPrice], [quantityProduct], [capacity], [energySaving], [smartFeature], [descriptionProduct], [rating], [reviewsCount], [soldCount], [isFlashSale], [soldFlash], [limitFlash]) VALUES (N'SP_LVS_01', N'Lò vi sóng Sharp 20 lít', N'DM_LVS', N'Sharp', 1290000, 1590000, 30, N'20 lít', N'4 sao', N'Không', N'Lò vi sóng cơ bền bỉ, dễ sử dụng.', CAST(4.6 AS Decimal(3, 1)), 50, 120, 0, 0, 0)
INSERT [dbo].[SanPham] ([productID], [productName], [categoryID], [brand], [priceProduct], [originalPrice], [quantityProduct], [capacity], [energySaving], [smartFeature], [descriptionProduct], [rating], [reviewsCount], [soldCount], [isFlashSale], [soldFlash], [limitFlash]) VALUES (N'SP_MG_01', N'Máy giặt Samsung Inverter 10kg', N'DM_MG', N'Samsung', 8490000, 10990000, 24, N'10kg', N'5 sao', N'Có', N'Máy giặt inverter tiết kiệm điện, vận hành êm.', CAST(4.8 AS Decimal(3, 1)), 128, 86, 1, 35, 80)
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [quantityProduct]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [reviewsCount]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [soldCount]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [isFlashSale]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [soldFlash]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [limitFlash]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[DonHang] ([orderId])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[SanPham] ([productID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([customerPhone])
REFERENCES [dbo].[KhachHang] ([phone])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([staffId])
REFERENCES [dbo].[NhanVien] ([staffId])
GO
ALTER TABLE [dbo].[LichSuDiem]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDiem_DonHang] FOREIGN KEY([orderId])
REFERENCES [dbo].[DonHang] ([orderId])
GO
ALTER TABLE [dbo].[LichSuDiem] CHECK CONSTRAINT [FK_LichSuDiem_DonHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[DanhMuc] ([categoryID])
GO
ALTER TABLE [dbo].[TheThanhVien]  WITH CHECK ADD FOREIGN KEY([phone])
REFERENCES [dbo].[KhachHang] ([phone])
GO
USE [master]
GO
